@page "/products"
@model Market.Web.Pages.Products.Index
@{
    ViewData["Title"] = "Products";
}
<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col">
        <a asp-page="./Create" class="btn btn-primary">New product</a>
    </div>
</div>
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a asp-page="./Details" asp-route-id="@product.Id">@product.Name</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">@product.Category</h6>
                    <p class="card-text">@product.Price PLN</p>
                    <form method="post">
                        <input type="submit" class="btn btn-danger" value="Delete" asp-route-id="@product.Id" asp-page-handler="delete"/>
                    </form>
                </div>
            </div>
        </div>
    }
</div>